
.actions-panel {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  .action-raw1 button,
  .action-raw2 button,
  .action-raw3 button{
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    border: 0.5px solid #0b5134;
    background-color: #5adfa6;
    cursor: pointer;
  }
  
  .action-raw1 button:hover,
  .action-raw2 button:hover,
  .action-raw3 button:hover{
    background-color: #aeefd6;
    border-color: #0b5134;
  }
  