
.actions-panel {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  
  .action-raw1 button,
  .action-raw2 button,
  .action-raw3 button{
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
  }
  
  .action-raw1 button:hover,
  .action-raw2 button:hover,
  .action-raw3 button:hover{
    background-color: #d0e6ff;
    border-color: #3399ff;
  }
  